/*********Customer Buttons***********/
.customerButtons {
	width: 100%;
	background-color: #dcdcdc;
	display: flex;
	padding-bottom: 4px;
	border-bottom: 2px groove lightgray;
}
.searchActive {
	color: black;
}
.searchInActive {
	color: grey;
}
.custLead {
	margin-left: 23px;
	font-size: 14px;
	padding: 3px;
}
.custNew {
	margin-left: 26px;
	font-size: 14px;
	padding: 3px;
}
.custBtn {
	margin-left: 20px;
	font-size: 14px;
	border-radius: 6px;
}
/*********Customer Search***********/
.customerSearchContainer {
	min-width: 1280px;
	width: 100%;
	background-color: #dcdcdc;
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 45px;
	padding-bottom: 4px;
}
.searchSelect {
	width: 350px;
	font-size: 12px;
}
.searchInputCont {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	width: 150px;
	font-size: 14px;
}
.searchInput {
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid grey;
}
/*********Customer ALT Search***********/
.altSearchWrapper {
	background-color: #dcdcdc;
	border: 2px groove lightgray;
	padding: 15px 10px 10px;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 1%;
	min-width: 1215px;
	width: 98%;
}
.altSearchWrapper .head {
	position: absolute;
	margin-top: -27px;
	margin-left: 10px;
	background: #dcdcdc;
	padding: 2px 8px;
	font-size: 12px;
}
.altSearchArrow {
	margin-right: 7px;
	font-size: 15px;
}
.altSearchContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
/*********Customer Search Buttons***********/
.buttonContainer {
	min-width: 1280px;
	width: 100%;
	margin-top: 10px;
	text-align: right;
}
.searchButtons {
	width: 150px;
	margin-right: 20px;
	font-size: 14px;
	border-radius: 6px;
}
