.topContainer {
	width: 100%;
	display: flex;
	background-color: #dcdcdc;
	border-bottom: 3px groove #000099;
}
.marquee2 {
	font-size: 14px;
	background-color: #dcdcdc;
	border-bottom: 3px groove lightgray;
	padding-bottom: 5px;
}
.title {
	min-width: 250px;
	width: 250px;
	text-align: center;
}
.assistBar {
	min-width: 1024px;
	padding-right: 25px;
	margin-bottom: 5px;
	height: 32px !important;
	border: 2px groove #bacdd6;
}
.headerContainer {
	min-width: 1024px;
	width: 100%;
	flex-direction: column;
	text-align: right;
}
.linksBar {
	min-width: 1024px;
}
#navLink {
	margin-left: 1px;
	margin-right: 1px;
	padding: 10px !important;
	padding-top: 1px !important;
	padding-bottom: 3px !important;
	background-color: #9e9ab5;
	margin-bottom: -1px;
	border: 1px solid #000099;
	border-bottom: none;
	font-weight: bolder;
	color: white;
	font-family: verdana, arial, helvetica;
	font-size: 15px;
}
#navLink:hover {
	background-color: #000099;
}
.nav-link.active {
	color: white !important;
	background-color: #000099 !important;
}
